<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>AI Tweet Generator | Write, post , and share your tweets!</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='brand.png') }}" alt="brand" width="250">
        </a>
    </header>

    <main class="container">
        <h1>Your <span>Tweet,</span></h1>
        <h1>Your <span>Way.</span></h1>

        <textarea id="tweet-text" maxlength="250" placeholder="Click 'Generate Tweet' to get a fresh tweet idea..."></textarea>
        
        <div class="char-counter">
            <span id="char-count">0/250</span>
        </div>

        <button id="generate-btn">Generate Tweet</button>

        <button id="post-btn" disabled>Post Tweet</button>
        <div id="message"></div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        gsap.from("h1", {
            duration: 0.75,
            y: -30,
            opacity: 0,
            rotate: -10,
            stagger: 0.35,
            delay: 0.5
        })
    </script>
</body>

</html>